Body {
    font-family: helvetica, arial, sans-serif;
}
/* .row */
.flex_box{ 
    display: flex;
    justify-content: space-around;
}
.block{
    padding:1rem;
    margin:0.5rem;
    
}
/* .row.center */
.flex_center{
    align-items: center;
}
.block_col_2{
    flex:2; 
    padding:1rem;
    margin:0.5rem;
    

}